.gds-leaderboard__topfive {
    @extend .gds-card;
    margin-bottom: 0;
    padding: $unit * 4 $unit * 2.5;
    background-color: white;
    border-bottom: none;
    z-index: $z-index-1;
}

.gds-leaderboard__grid {
    @extend .gds-ranker-grid;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        box-shadow: inset 0 $unit / 2 $unit -#{$unit / 2} rgba(black, 0.4);
        pointer-events: none;
        overflow: hidden;
        z-index: $z-index-1;
    }
}

@media #{$phone-width} {
    .gds-leaderboard__topfive {
        display: flex;
        justify-content: center;
    }
}
