.gds-ranker-grid {
    @extend .gds-flex;
    border-radius: $border-radius;
    border: 1px solid $gg-light-2;
    box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.1);
}

.gds-ranker-grid__ensign {
    @extend .gds-ranker-ensign;
    width: 20%;
    background-color: #f7f7f7;
    border: 0;
    box-shadow: 0;

    &:nth-child(even) {
        background-color: white;
    }

    @media #{$tablet-width} {
        width: calc(100% / 3);
    }
    @media #{$phablet-width} {
        width: 50%;
        background-color: white;

        &:nth-child(4n - 1) {
            background-color: #f7f7f7;
        }
        &:nth-child(4n - 2) {
            background-color: #f7f7f7;
        }
    }
    @media #{$phone-width} {
        width: 100%;

        &:nth-child(odd) {
            background-color: white;
        }
        &:nth-child(even) {
            background-color: #f7f7f7;
        }
    }
}
