{
    "plugins": ["stylelint-scss"],
    "rules": {
        "scss/no-global-function-names": true,
        "scss/operator-no-unspaced": true,
        "scss/at-function-pattern": "^[-a-z]+$",
        "scss/dollar-variable-pattern": "^[-a-z]+$",
        "scss/no-duplicate-mixins": true
    }
}
