.gds-button-toolbar {
    margin-left: ($unit / 2);
}

.gds-button-toolbar::after {
    content: "";
    display: table;
    clear: both;
}

.gds-button-toolbar .gds-button-group,
.gds-button-toolbar .gds-input-group {
    float: left;
}

.gds-button-toolbar > .gds-button,
.gds-button-toolbar > .gds-button-group,
.gds-button-toolbar > .gds-input-group {
    margin-left: ($unit / 2);
}

// Temporary
@media #{$phone-width}, #{$phablet-width} {
    .gds-button-toolbar {
        margin-left: 0 !important;
    }
}
