.gds-hotkey {
    border-left: 1px solid $gg-light-3;
    border-right: 1px solid $gg-light-3;
    border-top: 1px solid $gg-light-3;
    border-bottom: $cap-size solid $gg-light-3;
    border-radius: $border-radius * 2;
    padding: $unit*0.25 $unit*0.5;
    text-align: center;
    font-weight: bolder;
    color: $gg-light-4;
    display: inline-block;
    line-height: 1.1*$unit;
    @include transition-ease-out(all, 150ms);
}

.gds-hotkey--sm {
    font-size: $font-size-minus-2;
    padding: $unit*0.15 $unit*0.4;
}

.gds-hotkey--xs {
    font-size: $font-size-minus-3;
    padding: $unit*0.05 $unit*0.35;
}

.gds-hotkey--lg {
    font-size: $font-size-plus-2;
    padding: $unit*0.5 $unit*0.75;
}

.gds-hotkey--xl {
    font-size: $font-size-plus-3;
    padding: $unit*0.7 $unit;
    border-bottom-width: $cap-size*1.5;
}

.gds-hotkey--dark {
    border-color: $gg-dark-2;
    color: $gg-dark-1;
}

.gds-hotkey--light {
    border-color: $gg-light-2;
    color: $gg-light-2;
}

.gds-hotkey--primary {
    border-color: $primaryDark2Color;
    color: $primaryColor;
}

.gds-hotkey--primary-dark {
    color: white;
    border-color: $primaryColor;
}

.gds-hotkey--secondary {
    border-color: $secondaryDark2Color;
    color: $secondaryColor;
}

.gds-hotkey--secondary-dark {
    color: white;
    border-color: $secondaryColor;
}

.gds-hotkey--tertiary {
    border-color: $tertiaryDark2Color;
    color: $tertiaryColor;
}

.gds-hotkey--tertiary-dark {
    color: white;
    border-color: $tertiaryColor;
}

.gds-hotkey--success {
    border-color: $successDark2Color;
    color: $successColor;
}

.gds-hotkey--success-dark {
    color: white;
    border-color: $successColor;
}

.gds-hotkey--warning {
    border-color: $warningDark2Color;
    color: $warningColor;
}

.gds-hotkey--warning-dark {
    color: white;
    border-color: $warningColor;
}

.gds-hotkey--danger {
    border-color: $dangerDark2Color;
    color: $dangerColor;
}

.gds-hotkey--danger-dark {
    color: white;
    border-color: $dangerColor;
}

.gds-hotkey--info {
    border-color: $infoDark2Color;
    color: $infoColor;
}

.gds-hotkey--info-dark {
    color: white;
    border-color: $infoLight2Color;
}

.gds-hotkey--outline {
    color: $primaryColor;
}

.gds-hotkey--outline-secondary {
    color: $secondaryColor;
}

.gds-hotkey--outline-danger {
    color: $dangerColor;
}

.gds-hotkey--outline-success {
    color: $successColor;
}


.gds-hotkey--white {
    border-color: white;
    color: white;
}

.gds-hotkey--block {
    @extend .-block;
}

.gds-hotkey--blue {
    border-color: $blueDark2Color;
    color: $blueColor;
}

.gds-hotkey--dkblue {
    border-color: $darkBlueDark2Color;
    color: $darkBlueColor;
}

.gds-hotkey--gold {
    border-color: $goldDark2Color;
    color: $goldColor;
}

.gds-hotkey--red {
    border-color: $redDark2Color;
    color: $redColor;
}

.gds-hotkey--green {
    border-color: $greenDark2Color;
    color: $greenColor;
}

.gds-hotkey--orange {
    border-color: $orangeDark2Color;
    color: $orangeColor;
}

.gds-hotkey--dkgreen {
    border-color: $darkGreenDark2Color;
    color: $darkGreenColor;
}

.gds-hotkey--purple {
    border-color: $purpleDark2Color;
    color: $purpleColor;
}
