.gds-snackbar {
    position: fixed;
    width: ($unit * 24);
    top: ($unit * 6);
    right: ($unit / 2);
    z-index: $z-index-9;

    @media #{$phablet-width} {
        width: calc(100% - #{$unit});
    }
}

.gds-snackbar--spa {
    top: ($unit * 4);
}

.gds-snackbar__notification {
    @extend .gds-well;
    background-color: rgba(white, 0.91);
    opacity: 1;
    max-height: 300px;
    margin-bottom: ($unit / 2);
    box-shadow: 0 0 $unit rgba(black,0.1);
    @include transition-ease-in(all, 250ms);
}

.gds-snackbar__notification--dark {
    @extend .gds-well--dark;
    background-color: rgba($gg-dark-3, 0.91) !important;
    box-shadow: 0 0 $unit rgba(black,0.25);
}

.gds-snackbar__notification--hidden {
    opacity: 0;
    max-height: 0px;
    border-width: 0 !important;
    @extend .-p-v-0;
    @extend .-m-b-0;
    @include transition-ease-out(all, 250ms);
}

.gds-snackbar__notification--success {
    @extend .gds-well--success;
}
.gds-snackbar__notification--warning {
    @extend .gds-well--warning;
}

.gds-snackbar__notification--danger {
    @extend .gds-well--danger;
}

.gds-snackbar__notification--info {
    @extend .gds-well--info;
}

.gds-snackbar__notification-text {
    @extend .gds-well__text;
}

.gds-snackbar__notification-button {
    @extend .gds-well__button;
}
.gds-snackbar__notification-button--dark,
.gds-snackbar__notification-button--success,
.gds-snackbar__notification-button--info,
.gds-snackbar__notification-button--warning,
.gds-snackbar__notification-button--danger {
    @extend .gds-well__button--success;
}
