.-cursor--default {
    cursor: default !important;
}

.-cursor--pointer {
    cursor: pointer !important;
}

.-cursor--context-menu {
    cursor: context-menu !important;
}

.-cursor--help {
    cursor: help !important;
}

.-cursor--progress {
    cursor: progress !important;
}

.-cursor--crosshair {
    cursor: crosshair !important;
}

.-cursor--text {
    cursor: text !important;
}

.-cursor--copy {
    cursor: copy !important;
}

.-cursor--move {
    cursor: move !important;
}

.-cursor--not-allowed {
    cursor: not-allowed !important;
}

.-cursor--zoom-in {
    cursor: zoom-in !important;
}

.-cursor--zoom-out {
    cursor: zoom-out !important;
}

.-cursor--grab {
    cursor: -webkit-grab !important;
    cursor: -moz-grab !important;
    cursor: grab !important;
}

.-cursor--grabbing {
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: grabbing !important;
}
