.gds-breadcrumb__list {
  display: flex;
  flex-flow: row nowrap; }

.gds-breadcrumb__item {
  font-size: 0.8rem;
  display: inline-block;
  padding-right: 0.5rem; }

.gds-breadcrumb__item::after {
  content: "/"; }

.gds-breadcrumb__item:last-child::after {
  content: none; }
