.gds-tree__sub-nav {
    padding-left: ($unit * 1.75);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: calc(#{$unit} - 4px);
        width: 1px;
        background-color: $gg-light-2;
    }
}

.gds-tree--dark .gds-tree__sub-nav:before,
.gds-tree--dark .gds-tree__sub-item:before {
    background-color: $gg-light-5;
    opacity: 0.85;
}

.gds-tree__sub-item {
    &:before {
        content: '';
        height: 1px;
        position: absolute;
        top: $unit;
        right: 100%;
        width: calc(#{$unit * 1.75} - 1px);
        background-color: $gg-light-2;
        z-index: $z-index-3;
        @include transition-ease-out(all, 150ms);
    }
}

// Links
.gds-tree--dark .gds-tree__link {
    color: $gg-light-2;
}

.gds-tree__link {
    display: block;
    white-space: nowrap;
    padding: ($unit / 8) 0;
    font-size: 90%;
    padding-left: 0;
    cursor: pointer;
    @include transition-ease-out(all, 150ms);

    &:hover {
        color: $treeLinkPrimaryHoverColor;

        .gds-tree__link-option {
            opacity: 1;
            left: -18px;
        }

        .gds-tree__status-icon {
            left: 5px;
            &:before  {
                content: "\f0d9";
            }
        }

    }
}

.gds-tree__link--active {
    color: $treeLinkPrimaryActiveColor;
    padding-left: 5px;
}


.gds-tree__link--primary {
    &:after {
        color: $treeLinkPrimaryActiveColor;
    }
    &:hover {
        color: $treeLinkPrimaryHoverColor;
    }
    &.gds-tree__link--active {
        color: $treeLinkPrimaryActiveColor;

        .gds-tree__status-icon{
            color:$treeLinkPrimaryIconActiveColor;
        }
    }
    .gds-tree__status-icon {
        color: $treeLinkPrimaryIconColor;
    }
}

.gds-tree__link--secondary {
    &:after {
        color: $treeLinkSecondaryActiveColor;
    }
    &:hover {
        color: $treeLinkSecondaryHoverColor;
    }
    &.gds-tree__link--active {
        color: $treeLinkSecondaryActiveColor;

        .gds-tree__status-icon{
            color: $treeLinkSecondaryIconActiveColor;
        }
    }
    .gds-tree__status-icon {
        color: $treeLinkSecondaryIconColor;
    }
}

.gds-tree__link--tertiary {
    &:after {
        color: $treeLinkTertiaryActiveColor;
    }
    &:hover {
        color: $treeLinkTertiaryHoverColor;
    }
    &.gds-tree__link--active {
        color: $treeLinkTertiaryActiveColor;

        .gds-tree__status-icon{
            color:$treeLinkTertiaryIconActiveColor;
        }
    }
    .gds-tree__status-icon {
        color: $treeLinkTertiaryIconColor;
    }
}

.gds-tree__link--quaternary {
    &:after {
        color: $treeLinkQuaternaryActiveColor;
    }
    &:hover {
        color: $treeLinkQuaternaryHoverColor;
    }
    &.gds-tree__link--active {
        color: $treeLinkQuaternaryActiveColor;

        .gds-tree__status-icon{
            color:$treeLinkQuaternaryIconActiveColor;;
        }
    }
    .gds-tree__status-icon {
        color: $treeLinkQuaternaryIconColor;
    }
}

.gds-tree__status-icon {
    color: $treeLinkPrimaryIconColor;
    left: 0;
    @include transition-ease-out(all, 150ms);
}

.gds-tree__sub-nav .gds-tree__link {
    margin-left: ($unit / 2);
}

.gds-tree__link-option {
    @extend .gds-circular-button;
    @extend .gds-circular-button--xs;
    @extend .gds-circular-button--danger;
    @include transition-ease-out(all, 150ms);
    top: -2px;
    left: 0;
    height: 22px;
    width: 22px;
    padding: $unit / 4.5 $unit / 5 $unit / 3 $unit / 5;
    font-size: $unit / 1.5;
    opacity: 0;
}
