.gds-onboarder__overlay {
    @extend .gds-alert__overlay;
    z-index: $z-index-9;
    background-color: transparent;
    position: absolute;
}

.gds-onboarder--shown {
    @extend .gds-alert--shown;
    .gds-onboarder {
        opacity: 1;
    }
}

.gds-onboarder {
    @extend .gds-bubble__menu;
    @extend .gds-bubble__menu--menu-open;
    width: $unit*25;
    border-radius: $border-radius;
    top: 0;
    left: 0;
    right: auto;
    opacity: 0;
    transform-origin: 50% 50%;
    z-index: $z-index-9;
    transition-property: opacity;
}

.gds-onboarder--t-l {
    &:before {
        bottom: 99%;
        left: 7px;
        right: auto;
    }
}

.gds-onboarder--t-c {
    &:before {
        bottom: 99%;
        left: calc(50% - 4px);
        right: auto;
    }
}

.gds-onboarder--c-l {
    &:before {
        bottom: calc(50% - 4px);
        left: auto;
        right: 99%;
        transform: rotate(-90deg);
    }
}

.gds-onboarder--c-r {
    &:before {
        bottom: calc(50% - 4px);
        left: 99%;
        right: auto;
        transform: rotate(90deg);
    }
}
.gds-onboarder--b-l {
    &:before {
        bottom: auto;
        top: 99%;
        left: 70px;
        right: auto;
        transform: rotate(180deg);
        background-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aa%3D%22http%3A%2F%2Fns.adobe.com%2FAdobeSVGViewerExtensions%2F3.0%2F%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2212.5px%22%20viewBox%3D%220%200%2016%2012.5%22%20style%3D%22enable-background%3Anew%200%200%2016%2012.5%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill%3A%23#{strip-hash($gg-dark-4)}%3B%7D%3C%2Fstyle%3E%3Cpolygon%20class%3D%22st0%22%20points%3D%220%2C12.5%2016%2C12.5%208%2C0%20%22%2F%3E%3C%2Fsvg%3E");
    }
}

.gds-onboarder--b-c {
    &:before {
        bottom: auto;
        top: 99%;
        left: calc(50% - 4px);
        right: auto;
        transform: rotate(180deg);
        background-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aa%3D%22http%3A%2F%2Fns.adobe.com%2FAdobeSVGViewerExtensions%2F3.0%2F%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2212.5px%22%20viewBox%3D%220%200%2016%2012.5%22%20style%3D%22enable-background%3Anew%200%200%2016%2012.5%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill%3A%23#{strip-hash($gg-dark-4)}%3B%7D%3C%2Fstyle%3E%3Cpolygon%20class%3D%22st0%22%20points%3D%220%2C12.5%2016%2C12.5%208%2C0%20%22%2F%3E%3C%2Fsvg%3E");
    }
}

.gds-onboarder--b-r {
    &:before {
        bottom: auto;
        top: 99%;
        right: 70px;
        transform: rotate(180deg);
        background-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aa%3D%22http%3A%2F%2Fns.adobe.com%2FAdobeSVGViewerExtensions%2F3.0%2F%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2212.5px%22%20viewBox%3D%220%200%2016%2012.5%22%20style%3D%22enable-background%3Anew%200%200%2016%2012.5%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill%3A%23#{strip-hash($gg-dark-4)}%3B%7D%3C%2Fstyle%3E%3Cpolygon%20class%3D%22st0%22%20points%3D%220%2C12.5%2016%2C12.5%208%2C0%20%22%2F%3E%3C%2Fsvg%3E");
    }
}

.gds-onboarder--no-arrow {
    &:before {
        content: none;
    }
}

.gds-onboarder__step-num {
    @extend .gds-number-circle;
}

.gds-onboarder__body {
    padding: $unit $unit 1.25*$unit $unit;
    background-color: white;
    @extend .gds-text--body-sm;
}

.gds-onboarder__header {
    padding: $unit $unit 0 $unit;
    border-bottom: 1px solid $gg-light-2;
    background-color: white;
}

.gds-onboarder__close {
    @extend .gds-modal__close-button;
    @extend .-abs-t-r;
    z-index:$z-index-1;
    background-position: 20px 20px;
    width: 60px;
    height: 60px;
}

.gds-onboarder__footer {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    overflow: hidden;
    height: 37px;
    background-color: white;
    @include clearfix();
}

.gds-onboarder__button {
    @extend .gds-button;
    @extend .gds-button--primary;
    @extend .gds-button--sm;
    @extend .-m-b-0;
    border-radius: 0;
    width: 39px;
}

.gds-onboarder__button--left {
    float: left;
}

.gds-onboarder__button--right {
    float: right;
}

.gds-onboarder__timeline-wrapper {
    width: calc(100% - 78px);
    float: left;
    height: 100%;
    padding-top: 3px;
    padding-left: $unit;
    padding-right: $unit;
    display: inline-block;
    background-color: $gg-dark-3;
}

.gds-onboarder__highlight {
    position: absolute;
    border-radius: 25px;
    box-shadow: inset 0px 0px 15px 15px rgba(black, 0.5), 0px 0px 0px 4000px rgba(black, 0.5);
}
