// -------------------------------------------------- //
// Responsive breakpoint variables
// -------------------------------------------------- //
$phone-width: "(max-width:543px)";
$phablet-width: "(max-width:767px)";
$tablet-width: "(max-width:991px)";
$laptop-width: "(max-width:1199px)";
$desktop-width: "(max-width:1500px)";

$phone: 543px;
$phablet: 767px;
$tablet: 991px;
$laptop: 1199px;
$desktop: 1500px;
