// -------------------------------------------------- //
// Spacing variables
// -------------------------------------------------- //
$unit: 1rem;

$spacings: (
    0: '0',
    1: '1',
    2: '2',
    3: '3',
    4: '4',
    5: '5',
    6: '6'
);

$increments: '0', ($unit * 0.25), ($unit * 0.5), ($unit * 1), ($unit * 2), ($unit * 3), ($unit * 4);

$affixes: (
    1: 'xl',
    2: 'lg',
    3: 'md',
    4: 'sm',
    5: 'xs'
);

$affixes-rev: (
    1: 'xs',
    2: 'sm',
    3: 'md',
    4: 'lg',
    5: 'xl'
);

$breakpoints: (
    $desktop-width,
    $laptop-width,
    $tablet-width,
    $phablet-width,
    $phone-width
);
