// -------------------------------------------------- //
// Responsive breakpoint variables
// -------------------------------------------------- //
$phone-width: "(max-width:543px)";
$phablet-width: "(max-width:767px)";
$tablet-width: "(max-width:991px)";
$laptop-width: "(max-width:1199px)";
$desktop-width: "(max-width:15000px)";
