$ds-nd-1: 0 0 ($unit / 4) rgba(0,0,0,0.25);
$ds-nd-2: 0 0 ($unit / 3) rgba(0,0,0,0.15);
$ds-nd-3: 0 0 ($unit / 2) rgba(0,0,0,0.1);

$ds-dn-1: 0 ($unit / 8) ($unit / 4) rgba(0,0,0,0.15);
$ds-dn-2: 0 ($unit / 4) ($unit / 3) rgba(0,0,0,0.2);
$ds-dn-3: 0 ($unit / 2) ($unit / 2) rgba(0,0,0,0.1);
