// -------------------------------------------------- //
// Layout variables
// -------------------------------------------------- //
$grid-columns: 12;
$grid-gutter-width: $unit;

$grid-breakpoints: (
    xs: 0, // Extra small screen / phone
    sm: 544px, // Small screen / phone
    md: 768px, // Medium screen / tablet
    lg: 992px, // Large screen / desktop
    xl: 1200px // Extra large screen / wide desktop
) !default;

$container-max-widths: (
    sm: 576px,
    md: 720px,
    lg: 940px,
    xl: 1140px
) !default;
