// -------------------------------------------------- //
// Slide-nav variables
// -------------------------------------------------- //
$list-padding: ($unit * 3);
$hover-shift: ($unit * 0.1);
$nav-width: ($unit * 25);
