// -------------------------------------------------- //
// Text variables
// -------------------------------------------------- //
// Proxima Nova webfonts

@font-face {
    font-family: 'pnlight';
    src: url('https://assets.ggops.com/fonts/pns-light-webfont.eot') format('eot'),
        url('https://assets.ggops.com/fonts/pns-light-webfont.svg') format('svg'),
        url('https://assets.ggops.com/fonts/pns-light-webfont.ttf') format('ttf'),
        url('https://assets.ggops.com/fonts/pns-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pnregular';
    src: url('https://assets.ggops.com/fonts/pns-regular-webfont.eot') format('eot'),
        url('https://assets.ggops.com/fonts/pns-regular-webfont.svg') format('svg'),
        url('https://assets.ggops.com/fonts/pns-regular-webfont.ttf') format('ttf'),
        url('https://assets.ggops.com/fonts/pns-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pnsemibold';
    src: url('https://assets.ggops.com/fonts/pns-semibold-webfont.eot') format('eot'),
        url('https://assets.ggops.com/fonts/pns-semibold-webfont.svg') format('svg'),
        url('https://assets.ggops.com/fonts/pns-semibold-webfont.ttf') format('ttf'),
        url('https://assets.ggops.com/fonts/pns-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pnbold';
    src: url('https://assets.ggops.com/fonts/pns-bold-webfont.eot') format('eot'),
        url('https://assets.ggops.com/fonts/pns-bold-webfont.svg') format('svg'),
        url('https://assets.ggops.com/fonts/pns-bold-webfont.ttf') format('ttf'),
        url('https://assets.ggops.com/fonts/pns-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothambold';
    src: url('https://assets.ggops.com/fonts/Gotham-Bold.eot') format('eot'),
        url('https://assets.ggops.com/fonts/Gotham-Bold.svg') format('svg'),
        url('https://assets.ggops.com/fonts/Gotham-Bold.ttf') format('ttf'),
        url('https://assets.ggops.com/fonts/Gotham-Bold.woff') format('woff'),
        url('https://assets.ggops.com/fonts/Gotham-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

$pri-font: 'pnlight';
$pri-font-regular: 'pnregular';
$pri-font-semibold: 'pnsemibold';
$pri-font-bold: 'pnbold';

$sec-font-bold: 'gothambold';

$header-font: 'ag2';

$font-weight-lighter: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 800;

$font-size: $unit;
$font-size-minus-1: ($font-size * 0.9);
$font-size-minus-2: ($font-size * 0.8);
$font-size-minus-3: ($font-size * 0.7);
$font-size-minus-4: ($font-size * 0.5);
$font-size-plus-1: ($font-size * 1.1);
$font-size-plus-2: ($font-size * 1.2);
$font-size-plus-3: ($font-size * 1.3);
