// Top Nav - Main
// Left Nav - Main
// Right Nav - used sparingly
// Bottom Nav - used sparingly

//temp start
.menu-btn {
  display: none;
}

@media (max-width: 1100px) {
  .menu-btn {
    display: inline-block;
  }
}
//temp end

.gds-nav-top,
.gds-nav-bottom {
  position: relative;
  background: #fff;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  & > * {
    flex-grow: 1;
  }
}

.gds-nav-top {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
  .gds-nav-logo {
    flex-grow: 0;
    width: fit-content;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    line-height: 0;
    display: flex;
    align-items: center;

    &__logo {
      padding: 0.2rem;
    }
    &__icon,
    &__logo,
    img {
      width: auto;
      height: 1.8rem;
    }

    &:empty {
      flex-grow: 0;
      background-image: url(https://gumgum-design-system.s3.amazonaws.com/logo.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-origin: content-box;
      padding: 0.8rem 1rem;
      width: 10rem;
      height: 100%;
    }

    @media (max-width: 1100px) {
      &:empty {
        flex-grow: 0;
        background-image: url(https://gumgum-design-system.s3.amazonaws.com/mark.svg);
        width: 5rem;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-flow: row;
    position: relative;
  }

  &__link {
    display: inline-block;
    background: none;
    border: none;
    height: auto;
    padding: 1rem 1rem;
    cursor: pointer;
    font: inherit;
    font-size: 14px;
    font-weight: $font-weight-bold;
    color: $gg-dark-5;

    &:hover {
      color: $primaryDark5Color;
      background-color: none;
      box-shadow: inset 0px -2px 0px $primaryDark1Color;
    }

    &:active,
    &:focus {
      background-color: $gg-light-1;
    }
  }

  &__links--sub-wrapper > &__link::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    padding-left: 0.5rem;
  }

  &__links-sub {
    display: none;
  }

  &__links--sub-wrapper:active {
    background: red;
  }

  &__links--sub-wrapper--active > &__links-sub,
  &__links--sub-wrapper:hover > &__links-sub {
    display: inline-block;
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: $border-radius;
    top: 3rem;
    left: 0;
    z-index: $z-index-4;
    height: auto;
    width: max-content;
    // padding: 0.5rem 0;
    padding: 0.75rem;
    font: inherit;

    .gds-nav-top__link {
      display: block;
      // padding: 0.25rem 1rem;
      padding: 0.5rem 1rem;
      border-radius: $border-radius;

      &:hover {
        color: $primaryDark5Color;
        background-color: $gg-light-1;
        box-shadow: none;
      }

      &:active,
      &:focus {
        background-color: $gg-light-1;
      }
    }
  }
}

.gds-nav-bottom {
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.gds-side-nav {
  width: 12rem;
  background: #fff;
  // Collapse disabled for mobile size
  @media (min-width: 1099px) {
    &--collapsed {
      width: 4rem;
    }
  }
}

@media (max-width: 1100px) {
  .gds-app-layout__left .gds-side-nav {
    box-shadow: 0.25rem 0px 0.75rem rgba(0, 0, 0, 0.16);
  }

  .gds-app-layout__right .gds-side-nav {
    box-shadow: -0.25rem 0px 0.75rem rgba(0, 0, 0, 0.16);
  }
}
