// Top Nav - Main
// Left Nav - Main
// Right Nav - used sparingly
// Bottom Nav - used sparingly

// gds-nav__link - the wrapper
// gds-nav__link-icon - optional
// gds-nav__link-text - hides on collapsed
.gds-nav__link,
.gds-nav__link-sub {
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 1.2rem 1rem;
  cursor: pointer;
  color: $gg-dark-4;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: $font-weight-bold;
  line-height: 1;
  text-align: left;
  outline-style: none;

  &:hover {
    color: $primaryDark3Color;
    background-color: none;
    box-shadow: inset 0px -2px 0px $primaryDark1Color;
  }

  &:active,
  &:focus {
    background-color: $gg-light-1;
  }

  &:active {
    color: $primaryDark5Color;
  }

  &-icon {
    margin-right: 0.6rem;
  }
}

.gds-nav__link-sub {
  border-radius: $border-radius;

  &:hover {
    color: $primaryDark5Color;
    background-color: $primaryLight5Color;
    box-shadow: none;
  }

  // icon
  &-icon {
    margin-right: 0.6rem;
  }
}

.gds-app-layout__left.gds-side-nav .gds-nav__link {
  padding: 0.75rem 1rem;
  &:hover {
    box-shadow: inset -2px 0 0px $primaryDark1Color;
  }
}

.gds-app-layout__right.gds-side-nav .gds-nav__link {
  padding: 0.75rem 1rem;
  &:hover {
    box-shadow: inset 2px 0 0px $primaryDark1Color;
  }
}

.gds-side-nav {
  width: 12rem;
  background: white;
  @media (min-width: 1099px) {
    &--collapsed {
      width: fit-content;

      .gds-nav__link {
        > .gds-nav__link-text {
          display: none;
        }
        > .gds-nav__link-icon {
          font-size: 1rem;
          margin-right: 0;
        }
      }
    }
  }
}

.gds-nav__icon-group {
  display: flex;
}

.gds-nav-top,
.gds-nav-bottom {
  position: relative;
  background: #fff;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  & > * {
    flex-grow: 1;
  }
}

.gds-nav-top {
  box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.16);
  padding: 0 0.5rem;
  &--grow-0 {
    flex-grow: 0;
  }
  .gds-nav-logo {
    flex-grow: 0;
    width: fit-content;
    line-height: 0;
    display: flex;
    align-items: center;

    &__logo {
      padding: 0.2rem;
    }
    &__icon,
    &__logo,
    img {
      width: auto;
      height: 1.8rem;
    }

    &:empty {
      flex-grow: 0;
      background-image: url(https://gumgum-design-system.s3.amazonaws.com/logo.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-origin: content-box;
      padding: 0.8rem 0.5rem;
      width: 8rem;
      height: 100%;
    }

    @media (max-width: 1100px) {
      &:empty {
        flex-grow: 0;
        background-image: url(https://gumgum-design-system.s3.amazonaws.com/mark.svg);
        width: 5rem;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-flow: row;
    position: relative;
  }

  &__icons > &__link {
    padding: 1rem 0.5rem;
  }

  &__links-sub {
    display: none;
  }

  // Works on hover and with active class (requires JS to toggle)
  &__links--sub-wrapper--active > &__links-sub,
  &__links--sub-wrapper:hover > &__links-sub {
    display: inline-block;
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: $border-radius;
    top: 3rem;
    left: 0;
    z-index: $z-index-4;
    height: auto;
    width: max-content;
    padding: 0.75rem;
    font: inherit;

    .gds-nav-top__link {
      display: inline-block;
      padding: 0.5rem 1rem;
      border-radius: $border-radius;
      background: red;

      &:hover {
        color: $primaryDark5Color;
        background-color: $primaryLight5Color;
        box-shadow: none;
      }

      &:active,
      &:focus {
        background-color: $gg-light-1;
      }
    }
  }
}

.gds-nav-bottom {
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1100px) {
  .gds-app-layout__left .gds-side-nav {
    box-shadow: 0.25rem 0px 0.75rem rgba(0, 0, 0, 0.16);
  }

  .gds-app-layout__right .gds-side-nav {
    box-shadow: -0.25rem 0px 0.75rem rgba(0, 0, 0, 0.16);
  }
}
