//[-------PALETTE-------]//
/* This is Design System's complete color palette - all built-in themes are constructed from these colors */
//[---------------------]//
$blueColor: #1e96d9 !default;
$goldColor: #f3d221 !default;
$greenColor: #32d996 !default;
$orangeColor: #fd871a !default;
$purpleColor: #7671d6 !default;
$redColor: #fb4323 !default;
$grayColor: #888888 !default;
$darkBlueColor: #0a4882 !default;
$darkGoldColor: #f1c014 !default;
$darkGreenColor: #1ebf7e !default;
$darkRedColor: #d82a0c !default;
$magentaColor: #e02b58 !default;

$grayDark1Color: #0e0e0e !default;
$grayDark2Color: #292929 !default;
$grayDark3Color: #444 !default;
$grayDark4Color: #5f5f5f !default;
$grayDark5Color: #7a7a7a !default;
$grayLight1Color: #f3f3f3 !default;
$grayLight2Color: #dbdbdb !default;
$grayLight3Color: #c4c4c4 !default;
$grayLight4Color: #acacac !default;
$grayLight5Color: #949494 !default;

$blueDark1Color: mix(black, $blueColor, 5%) !default;
$blueDark2Color: mix(black, $blueColor, 10%) !default;
$blueDark3Color: mix(black, $blueColor, 15%) !default;
$blueDark4Color: mix(black, $blueColor, 30%) !default;
$blueDark5Color: mix(black, $blueColor, 50%) !default;
$blueLight1Color: mix(white, $blueColor, 5%) !default;
$blueLight2Color: mix(white, $blueColor, 10%) !default;
$blueLight3Color: mix(white, $blueColor, 15%) !default;
$blueLight4Color: mix(white, $blueColor, 30%) !default;
$blueLight5Color: mix(white, $blueColor, 50%) !default;
$goldDark1Color: mix(black, $goldColor, 5%) !default;
$goldDark2Color: mix(black, $goldColor, 10%) !default;
$goldDark3Color: mix(black, $goldColor, 15%) !default;
$goldDark4Color: mix(black, $goldColor, 30%) !default;
$goldDark5Color: mix(black, $goldColor, 50%) !default;
$goldLight1Color: mix(white, $goldColor, 5%) !default;
$goldLight2Color: mix(white, $goldColor, 10%) !default;
$goldLight3Color: mix(white, $goldColor, 15%) !default;
$goldLight4Color: mix(white, $goldColor, 30%) !default;
$goldLight5Color: mix(white, $goldColor, 50%) !default;
$greenDark1Color: mix(black, $greenColor, 5%) !default;
$greenDark2Color: mix(black, $greenColor, 10%) !default;
$greenDark3Color: mix(black, $greenColor, 15%) !default;
$greenDark4Color: mix(black, $greenColor, 30%) !default;
$greenDark5Color: mix(black, $greenColor, 50%) !default;
$greenLight1Color: mix(white, $greenColor, 5%) !default;
$greenLight2Color: mix(white, $greenColor, 10%) !default;
$greenLight3Color: mix(white, $greenColor, 15%) !default;
$greenLight4Color: mix(white, $greenColor, 30%) !default;
$greenLight5Color: mix(white, $greenColor, 50%) !default;
$orangeDark1Color: mix(black, $orangeColor, 5%) !default;
$orangeDark2Color: mix(black, $orangeColor, 10%) !default;
$orangeDark3Color: mix(black, $orangeColor, 15%) !default;
$orangeDark4Color: mix(black, $orangeColor, 30%) !default;
$orangeDark5Color: mix(black, $orangeColor, 50%) !default;
$orangeLight1Color: mix(white, $orangeColor, 5%) !default;
$orangeLight2Color: mix(white, $orangeColor, 10%) !default;
$orangeLight3Color: mix(white, $orangeColor, 15%) !default;
$orangeLight4Color: mix(white, $orangeColor, 30%) !default;
$orangeLight5Color: mix(white, $orangeColor, 50%) !default;
$purpleDark1Color: mix(black, $purpleColor, 5%) !default;
$purpleDark2Color: mix(black, $purpleColor, 10%) !default;
$purpleDark3Color: mix(black, $purpleColor, 15%) !default;
$purpleDark4Color: mix(black, $purpleColor, 30%) !default;
$purpleDark5Color: mix(black, $purpleColor, 50%) !default;
$purpleLight1Color: mix(white, $purpleColor, 5%) !default;
$purpleLight2Color: mix(white, $purpleColor, 10%) !default;
$purpleLight3Color: mix(white, $purpleColor, 15%) !default;
$purpleLight4Color: mix(white, $purpleColor, 30%) !default;
$purpleLight5Color: mix(white, $purpleColor, 50%) !default;
$redDark1Color: mix(black, $redColor, 5%) !default;
$redDark2Color: mix(black, $redColor, 10%) !default;
$redDark3Color: mix(black, $redColor, 15%) !default;
$redDark4Color: mix(black, $redColor, 30%) !default;
$redDark5Color: mix(black, $redColor, 50%) !default;
$redLight1Color: mix(white, $redColor, 5%) !default;
$redLight2Color: mix(white, $redColor, 10%) !default;
$redLight3Color: mix(white, $redColor, 15%) !default;
$redLight4Color: mix(white, $redColor, 30%) !default;
$redLight5Color: mix(white, $redColor, 50%) !default;
$darkBlueDark1Color: mix(black, $darkBlueColor, 5%) !default;
$darkBlueDark2Color: mix(black, $darkBlueColor, 10%) !default;
$darkBlueDark3Color: mix(black, $darkBlueColor, 15%) !default;
$darkBlueDark4Color: mix(black, $darkBlueColor, 30%) !default;
$darkBlueDark5Color: mix(black, $darkBlueColor, 50%) !default;
$darkBlueLight1Color: mix(white, $darkBlueColor, 5%) !default;
$darkBlueLight2Color: mix(white, $darkBlueColor, 10%) !default;
$darkBlueLight3Color: mix(white, $darkBlueColor, 15%) !default;
$darkBlueLight4Color: mix(white, $darkBlueColor, 30%) !default;
$darkBlueLight5Color: mix(white, $darkBlueColor, 50%) !default;
$darkGoldDark1Color: mix(black, $darkGoldColor, 5%) !default;
$darkGoldDark2Color: mix(black, $darkGoldColor, 10%) !default;
$darkGoldDark3Color: mix(black, $darkGoldColor, 15%) !default;
$darkGoldDark4Color: mix(black, $darkGoldColor, 30%) !default;
$darkGoldDark5Color: mix(black, $darkGoldColor, 50%) !default;
$darkGoldLight1Color: mix(white, $darkGoldColor, 5%) !default;
$darkGoldLight2Color: mix(white, $darkGoldColor, 10%) !default;
$darkGoldLight3Color: mix(white, $darkGoldColor, 15%) !default;
$darkGoldLight4Color: mix(white, $darkGoldColor, 30%) !default;
$darkGoldLight5Color: mix(white, $darkGoldColor, 50%) !default;
$darkGreenDark1Color: mix(black, $darkGreenColor, 5%) !default;
$darkGreenDark2Color: mix(black, $darkGreenColor, 10%) !default;
$darkGreenDark3Color: mix(black, $darkGreenColor, 15%) !default;
$darkGreenDark4Color: mix(black, $darkGreenColor, 30%) !default;
$darkGreenDark5Color: mix(black, $darkGreenColor, 50%) !default;
$darkGreenLight1Color: mix(white, $darkGreenColor, 5%) !default;
$darkGreenLight2Color: mix(white, $darkGreenColor, 10%) !default;
$darkGreenLight3Color: mix(white, $darkGreenColor, 15%) !default;
$darkGreenLight4Color: mix(white, $darkGreenColor, 30%) !default;
$darkGreenLight5Color: mix(white, $darkGreenColor, 50%) !default;
$darkRedDark1Color: mix(black, $darkRedColor, 5%) !default;
$darkRedDark2Color: mix(black, $darkRedColor, 10%) !default;
$darkRedDark3Color: mix(black, $darkRedColor, 15%) !default;
$darkRedDark4Color: mix(black, $darkRedColor, 30%) !default;
$darkRedDark5Color: mix(black, $darkRedColor, 50%) !default;
$darkRedLight1Color: mix(white, $darkRedColor, 5%) !default;
$darkRedLight2Color: mix(white, $darkRedColor, 10%) !default;
$darkRedLight3Color: mix(white, $darkRedColor, 15%) !default;
$darkRedLight4Color: mix(white, $darkRedColor, 30%) !default;
$darkRedLight5Color: mix(white, $darkRedColor, 50%) !default;
$magentaDark1Color: mix(black, $magentaColor, 5%) !default;
$magentaDark2Color: mix(black, $magentaColor, 10%) !default;
$magentaDark3Color: mix(black, $magentaColor, 15%) !default;
$magentaDark4Color: mix(black, $magentaColor, 30%) !default;
$magentaDark5Color: mix(black, $magentaColor, 50%) !default;
$magentaLight1Color: mix(white, $magentaColor, 5%) !default;
$magentaLight2Color: mix(white, $magentaColor, 10%) !default;
$magentaLight3Color: mix(white, $magentaColor, 15%) !default;
$magentaLight4Color: mix(white, $magentaColor, 30%) !default;
$magentaLight5Color: mix(white, $magentaColor, 50%) !default;

//[-------PRIME SLOTS-------]//
/* These are the main color assignments for this theme. All component color assignments within this theme are based on this subset of the overall palette. Editing these will have far-reaching effects. */
//[---------------------]//
$primaryColor: $blueDark2Color !default;
$secondaryColor: $darkBlueColor !default;
$tertiaryColor: $greenColor !default;
$quaternaryColor: $magentaColor !default;
$successColor: $greenColor !default;
$infoColor: $purpleColor !default;
$warningColor: $goldColor !default;
$dangerColor: $redColor !default;
$primaryDark1Color: mix(black, $primaryColor, 5%) !default;
$primaryDark2Color: mix(black, $primaryColor, 10%) !default;
$primaryDark3Color: mix(black, $primaryColor, 15%) !default;
$primaryDark4Color: mix(black, $primaryColor, 30%) !default;
$primaryDark5Color: mix(black, $primaryColor, 50%) !default;
$primaryLight1Color: mix(white, $primaryColor, 5%) !default;
$primaryLight2Color: mix(white, $primaryColor, 10%) !default;
$primaryLight3Color: mix(white, $primaryColor, 15%) !default;
$primaryLight4Color: mix(white, $primaryColor, 30%) !default;
$primaryLight5Color: mix(white, $primaryColor, 50%) !default;
$secondaryDark1Color: mix(black, $secondaryColor, 5%) !default;
$secondaryDark2Color: mix(black, $secondaryColor, 10%) !default;
$secondaryDark3Color: mix(black, $secondaryColor, 15%) !default;
$secondaryDark4Color: mix(black, $secondaryColor, 30%) !default;
$secondaryDark5Color: mix(black, $secondaryColor, 50%) !default;
$secondaryLight1Color: mix(white, $secondaryColor, 5%) !default;
$secondaryLight2Color: mix(white, $secondaryColor, 10%) !default;
$secondaryLight3Color: mix(white, $secondaryColor, 15%) !default;
$secondaryLight4Color: mix(white, $secondaryColor, 30%) !default;
$secondaryLight5Color: mix(white, $secondaryColor, 50%) !default;
$tertiaryDark1Color: mix(black, $tertiaryColor, 5%) !default;
$tertiaryDark2Color: mix(black, $tertiaryColor, 10%) !default;
$tertiaryDark3Color: mix(black, $tertiaryColor, 15%) !default;
$tertiaryDark4Color: mix(black, $tertiaryColor, 30%) !default;
$tertiaryDark5Color: mix(black, $tertiaryColor, 50%) !default;
$tertiaryLight1Color: mix(white, $tertiaryColor, 5%) !default;
$tertiaryLight2Color: mix(white, $tertiaryColor, 10%) !default;
$tertiaryLight3Color: mix(white, $tertiaryColor, 15%) !default;
$tertiaryLight4Color: mix(white, $tertiaryColor, 30%) !default;
$tertiaryLight5Color: mix(white, $tertiaryColor, 50%) !default;
$quaternaryDark1Color: mix(black, $quaternaryColor, 5%) !default;
$quaternaryDark2Color: mix(black, $quaternaryColor, 10%) !default;
$quaternaryDark3Color: mix(black, $quaternaryColor, 15%) !default;
$quaternaryDark4Color: mix(black, $quaternaryColor, 30%) !default;
$quaternaryDark5Color: mix(black, $quaternaryColor, 50%) !default;
$quaternaryLight1Color: mix(white, $quaternaryColor, 5%) !default;
$quaternaryLight2Color: mix(white, $quaternaryColor, 10%) !default;
$quaternaryLight3Color: mix(white, $quaternaryColor, 15%) !default;
$quaternaryLight4Color: mix(white, $quaternaryColor, 30%) !default;
$quaternaryLight5Color: mix(white, $quaternaryColor, 50%) !default;
$successDark1Color: mix(black, $successColor, 5%) !default;
$successDark2Color: mix(black, $successColor, 10%) !default;
$successDark3Color: mix(black, $successColor, 15%) !default;
$successDark4Color: mix(black, $successColor, 30%) !default;
$successDark5Color: mix(black, $successColor, 50%) !default;
$successLight1Color: mix(white, $successColor, 5%) !default;
$successLight2Color: mix(white, $successColor, 10%) !default;
$successLight3Color: mix(white, $successColor, 15%) !default;
$successLight4Color: mix(white, $successColor, 30%) !default;
$successLight5Color: mix(white, $successColor, 50%) !default;
$infoDark1Color: mix(black, $infoColor, 5%) !default;
$infoDark2Color: mix(black, $infoColor, 10%) !default;
$infoDark3Color: mix(black, $infoColor, 15%) !default;
$infoDark4Color: mix(black, $infoColor, 30%) !default;
$infoDark5Color: mix(black, $infoColor, 50%) !default;
$infoLight1Color: mix(white, $infoColor, 5%) !default;
$infoLight2Color: mix(white, $infoColor, 10%) !default;
$infoLight3Color: mix(white, $infoColor, 15%) !default;
$infoLight4Color: mix(white, $infoColor, 30%) !default;
$infoLight5Color: mix(white, $infoColor, 50%) !default;
$warningDark1Color: mix(black, $warningColor, 5%) !default;
$warningDark2Color: mix(black, $warningColor, 10%) !default;
$warningDark3Color: mix(black, $warningColor, 15%) !default;
$warningDark4Color: mix(black, $warningColor, 30%) !default;
$warningDark5Color: mix(black, $warningColor, 50%) !default;
$warningLight1Color: mix(white, $warningColor, 5%) !default;
$warningLight2Color: mix(white, $warningColor, 10%) !default;
$warningLight3Color: mix(white, $warningColor, 15%) !default;
$warningLight4Color: mix(white, $warningColor, 30%) !default;
$warningLight5Color: mix(white, $warningColor, 50%) !default;
$dangerDark1Color: mix(black, $dangerColor, 5%) !default;
$dangerDark2Color: mix(black, $dangerColor, 10%) !default;
$dangerDark3Color: mix(black, $dangerColor, 15%) !default;
$dangerDark4Color: mix(black, $dangerColor, 30%) !default;
$dangerDark5Color: mix(black, $dangerColor, 50%) !default;
$dangerLight1Color: mix(white, $dangerColor, 5%) !default;
$dangerLight2Color: mix(white, $dangerColor, 10%) !default;
$dangerLight3Color: mix(white, $dangerColor, 15%) !default;
$dangerLight4Color: mix(white, $dangerColor, 30%) !default;
$dangerLight5Color: mix(white, $dangerColor, 50%) !default;

//[-------COMPONENT SLOTS-------]//
/* These color assignments affect specific components and allow for fine grain control over the look of your theme. Edit these to change colors of individual components within the design system. */
//[---------------------]//
$cardCapBackgroundColor: $blueDark5Color !default;
$cardCapUnderlineColor: $secondaryColor !default;
$ribbonPrimaryColor: $blueDark5Color !default;
$searchShownBackgroundDefaultColor: $blueDark3Color !default;
$searchShownBackgroundHoverColor: $blueColor !default;
$spaHeaderBackgroundColor: $blueDark5Color !default;
$spaHeaderUnderlineColor: $secondaryColor !default;
$balloonPrimaryBackgroundColor: $primaryColor !default;
$balloonSecondaryBackgroundColor: $secondaryColor !default;
$balloonTertiaryBackgroundColor: $tertiaryColor !default;
$balloonPrimaryBorderColor: $blueDark3Color !default;
$balloonSecondaryBorderColor: $secondaryDark3Color !default;
$balloonTertiaryBorderColor: $tertiaryDark3Color !default;
$bubbleMenuHoverColor: $darkBlueLight1Color !default;
$treeLinkPrimaryActiveColor: $blueColor !default;
$treeLinkSecondaryActiveColor: $secondaryColor !default;
$treeLinkTertiaryActiveColor: $tertiaryColor !default;
$treeLinkQuaternaryActiveColor: $quaternaryColor !default;
$treeLinkPrimaryHoverColor: $blueLight3Color !default;
$treeLinkSecondaryHoverColor: $secondaryLight3Color !default;
$treeLinkTertiaryHoverColor: $tertiaryLight3Color !default;
$treeLinkQuaternaryHoverColor: $quaternaryLight3Color !default;
$treeLinkPrimaryIconColor: $blueColor !default;
$treeLinkSecondaryIconColor: $secondaryColor !default;
$treeLinkTertiaryIconColor: $tertiaryColor !default;
$treeLinkQuaternaryIconColor: $quaternaryColor !default;
$treeLinkPrimaryIconActiveColor: $blueColor !default;
$treeLinkSecondaryIconActiveColor: $secondaryColor !default;
$treeLinkTertiaryIconActiveColor: $tertiaryColor !default;
$treeLinkQuaternaryIconActiveColor: $quaternaryColor !default;
$buttonDropdownMenuPrimaryBackgroundColor: $darkBlueColor !default;
$buttonDropdownMenuSecondaryBackgroundColor: $secondaryColor !default;
$buttonDropdownMenuTertiaryBackgroundColor: $tertiaryColor !default;
$buttonDropdownMenuPrimaryDarkBackgroundColor: $grayDark4Color !default;
$buttonDropdownMenuSecondaryDarkBackgroundColor: $grayDark4Color !default;
$buttonDropdownMenuTertiaryDarkBackgroundColor: $grayDark4Color !default;
$checklistItemCompletedColor: $dangerColor !default;
$checklistItemActiveColor: $tertiaryColor !default;
$tabPrimaryBackgroundDefaultColor: #fff !default;
$tabPrimaryBackgroundActiveColor: $primaryColor !default;
$tabPrimaryBackgroundHoverColor: $blueDark3Color !default;
$tabPrimaryBorderDefaultColor: $grayLight2Color !default;
$tabPrimaryBorderActiveColor: $blueDark1Color !default;
$tabPrimaryBorderHoverColor: $blueDark1Color !default;
$tabPrimaryTextDefaultColor: $primaryColor !default;
$tabPrimaryTextActiveColor: #fff !default;
$tabPrimaryTextHoverColor: #fff !default;
$tabPrimaryUnderlineDefaultColor: $secondaryColor !default;
$tabPrimaryUnderlineActiveColor: $secondaryColor !default;
$tabPrimaryUnderlineHoverColor: $secondaryColor !default;
$tabSecondaryBackgroundDefaultColor: #fff !default;
$tabSecondaryBackgroundActiveColor: $secondaryColor !default;
$tabSecondaryBackgroundHoverColor: $secondaryLight4Color !default;
$tabSecondaryBorderDefaultColor: $secondaryColor !default;
$tabSecondaryBorderActiveColor: $secondaryDark3Color !default;
$tabSecondaryBorderHoverColor: $secondaryDark1Color !default;
$tabSecondaryTextDefaultColor: $secondaryColor !default;
$tabSecondaryTextActiveColor: #fff !default;
$tabSecondaryTextHoverColor: #fff !default;
$tabSecondaryUnderlineDefaultColor: $secondaryDark3Color !default;
$tabSecondaryUnderlineActiveColor: $secondaryColor !default;
$tabSecondaryUnderlineHoverColor: $secondaryColor !default;
$dividerTextColor: $grayLight4Color !default;
$dividerArrowColor: $grayLight4Color !default;
$dividerLineColor: $grayLight4Color !default;
$paginationLinkColor: $blueLight1Color !default;
$progressBarPrimaryColor: $darkBlueColor !default;
$progressBarSecondaryColor: $secondaryColor !default;
$progressBarPrimaryUnderlineColor: $blueDark3Color !default;
$progressBarSecondaryUnderlineColor: $secondaryDark3Color !default;
$numberCircleTextColor: $darkBlueColor !default;
$numberCircleBorderColor: $darkBlueColor !default;
$timelineProgressCompletedColor: $darkBlueColor !default;
$timelineBackgroundInactiveColor: $grayLight4Color !default;
$timelineTextInactiveColor: $grayLight4Color !default;
$timelineBackgroundCompletedColor: $darkBlueColor !default;
$timelineBorderCompletedColor: $darkBlueColor !default;
$timelineTextCompletedColor: $blueDark3Color !default;
$timelineBackgroundActiveColor: $darkBlueColor !default;
$timelineBorderActiveColor: $darkBlueColor !default;
$timelineTextActiveColor: $darkBlueColor !default;
$modalHeaderPrimaryBackgroundColor: $blueDark5Color !default;
$modalHeaderPrimaryUnderlineColor: $secondaryColor !default;
$modalHeaderSecondaryBackgroundColor: $secondaryColor !default;
$modalHeaderSecondaryUnderlineColor: $blueDark5Color !default;
$modalHeaderTertiaryBackgroundColor: #fff !default;
$modalHeaderTertiaryUnderlineColor: $secondaryColor !default;
$modalHeaderQuaternaryBackgroundColor: $grayDark3Color !default;
$modalHeaderQuaternaryUnderlineColor: $secondaryColor !default;
$modalFooterPrimaryUnderlineColor: $grayLight2Color !default;
$modalFooterSecondaryUnderlineColor: $grayLight2Color !default;
$modalFooterTertiaryUnderlineColor: $grayLight2Color !default;
$modalFooterQuaternaryUnderlineColor: $grayLight2Color !default;
$slabNavBaseColor: $blueDark5Color !default;
$slabNavPrimaryBackgroundColor: $primaryColor !default;
$slabNavSecondaryBackgroundColor: $secondaryDark4Color !default;
$slabNavTertiaryBackgroundColor: $tertiaryDark4Color !default;
$slabNavQuaternaryBackgroundColor: $quaternaryDark4Color !default;
$slabNavPrimaryBackgroundHoverColor: $blueDark3Color !default;
$slabNavSecondaryBackgroundHoverColor: $secondaryDark3Color !default;
$slabNavTertiaryBackgroundHoverColor: $tertiaryDark3Color !default;
$slabNavQuaternaryBackgroundHoverColor: $quaternaryDark3Color !default;
$slabNavPrimaryBackgroundActiveColor: $blueColor !default;
$slabNavSecondaryBackgroundActiveColor: $secondaryColor !default;
$slabNavTertiaryBackgroundActiveColor: $tertiaryColor !default;
$slabNavQuaternaryBackgroundActiveColor: $quaternaryColor !default;
$slabNavPrimaryUnderlineColor: $blueColor !default;
$slabNavSecondaryUnderlineColor: $secondaryLight5Color !default;
$slabNavTertiaryUnderlineColor: $tertiaryDark4Color !default;
$slabNavQuaternaryUnderlineColor: $quaternaryColor !default;
$tableHeaderPrimaryBackgroundDefaultColor: $grayLight1Color !default;
$tableHeaderPrimaryUnderlineDefaultColor: $grayLight2Color !default;
$tableHeaderPrimaryBackgroundHoverColor: $grayLight3Color !default;
$tableHeaderPrimaryUnderlineHoverColor: $grayLight2Color !default;
$tableHeaderPrimaryBackgroundSelectedColor: $grayLight3Color !default;
$tableHeaderPrimaryUnderlineSelectedColor: $grayLight3Color !default;
$tableHeaderSecondaryBackgroundDefaultColor: $secondaryColor !default;
$tableHeaderSecondaryUnderlineDefaultColor: $secondaryDark3Color !default;
$tableHeaderSecondaryBackgroundHoverColor: $secondaryLight2Color !default;
$tableHeaderSecondaryUnderlineHoverColor: $secondaryDark3Color !default;
$tableHeaderSecondaryBackgroundSelectedColor: $secondaryLight2Color !default;
$tableHeaderSecondaryUnderlineSelectedColor: $secondaryDark3Color !default;
$tableRowPrimaryColor: $blueColor !default;
$tableRowSecondaryColor: $secondaryColor !default;
$chooserPrimaryBackgroundColor: $blueDark5Color !default;
$chooserPrimaryAccentColor: $blueDark3Color !default;
$chooserSecondaryBackgroundColor: $secondaryColor !default;
$chooserSecondaryAccentColor: $secondaryDark3Color !default;
$chooserTertiaryBackgroundColor: $tertiaryColor !default;
$chooserTertiaryAccentColor: $tertiaryDark3Color !default;
$chooserQuaternaryBackgroundColor: $quaternaryColor !default;
$chooserQuaternaryAccentColor: $quaternaryDark3Color !default;
$radioBlockPrimaryColor: $blueDark5Color !default;
$radioBlockSecondaryColor: $secondaryColor !default;
$radioBlockTertiaryColor: $tertiaryColor !default;
$radioBlockQuaternaryColor: $quaternaryColor !default;
$toolbeltItemColor: $blueColor !default;
$pageHeaderPrimaryBackgroundColor: $blueDark5Color !default;
$pageHeaderUnderlineColor: $secondaryColor !default;
$pageHeaderSecondaryBackgroundColor: $primaryColor !default;
$persistNavDefaultIconColor: $blueDark5Color !default;
$persistNavDefaultTextColor: $grayDark4Color !default;
$persistNavActiveIconColor: $blueDark5Color !default;
$persistNavActiveTextColor: $blueDark5Color !default;
$persistNavActiveInsetColor: $secondaryColor !default;
