//[-------PALETTE-------]//
/* This is Design System's complete color palette - all built-in themes are constructed from these colors */
//[---------------------]//
$whiteColor: #ffffff !default;
$blackColor: #0f0f0f !default;
$blueColor: #1e96d9 !default;
$goldColor: #f3d221 !default;
$greenColor: #32d996 !default;
$orangeColor: #fd871a !default;
$purpleColor: #7671d6 !default;
$redColor: #fb4323 !default;
$grayColor: #888888 !default;
$darkBlueColor: #0a4882 !default;
$darkGoldColor: #f1c014 !default;
$darkGreenColor: #1ebf7e !default;
$darkRedColor: #d82a0c !default;
$magentaColor: #e02b58 !default;

$grayDark1Color: #0e0e0e !default;
$grayDark2Color: #292929 !default;
$grayDark3Color: #444 !default;
$grayDark4Color: #5f5f5f !default;
$grayDark5Color: #7a7a7a !default;
$grayLight1Color: #f3f3f3 !default;
$grayLight2Color: #dbdbdb !default;
$grayLight3Color: #c4c4c4 !default;
$grayLight4Color: #acacac !default;
$grayLight5Color: #949494 !default;

$blueDark1Color: #1a83be !default;
$blueDark2Color: #1770a3 !default;
$blueDark3Color: #135e88 !default;
$blueDark4Color: #0f4b6d !default;
$blueDark5Color: #0b3851 !default;
$blueLight1Color: #3ea9e4 !default;
$blueLight2Color: #65baea !default;
$blueLight3Color: #8bcbef !default;
$blueLight4Color: #b2ddf4 !default;
$blueLight5Color: #d8eefa !default;
$goldDark1Color: #e5c30c !default;
$goldDark2Color: #c4a70b !default;
$goldDark3Color: #a48b09 !default;
$goldDark4Color: #836f07 !default;
$goldDark5Color: #625405 !default;
$goldLight1Color: #f5da46 !default;
$goldLight2Color: #f7e16b !default;
$goldLight3Color: #f9e990 !default;
$goldLight4Color: #fbf0b5 !default;
$goldLight5Color: #fdf8da !default;
$greenDark1Color: #25c585 !default;
$greenDark2Color: #1fa972 !default;
$greenDark3Color: #1a8d5f !default;
$greenDark4Color: #15714c !default;
$greenDark5Color: #105439 !default;
$greenLight1Color: #54dfa8 !default;
$greenLight2Color: #76e6b9 !default;
$greenLight3Color: #98eccb !default;
$greenLight4Color: #bbf2dc !default;
$greenLight5Color: #ddf9ee !default;
$orangeDark1Color: #f27502 !default;
$orangeDark2Color: #cf6502 !default;
$orangeDark3Color: #ad5402 !default;
$orangeDark4Color: #8a4301 !default;
$orangeDark5Color: #683201 !default;
$orangeLight1Color: #fd9b40 !default;
$orangeLight2Color: #feaf66 !default;
$orangeLight3Color: #fec38d !default;
$orangeLight4Color: #fed7b3 !default;
$orangeLight5Color: #ffebd9 !default;
$purpleDark1Color: #5751cd !default;
$purpleDark2Color: #3e37be !default;
$purpleDark3Color: #332e9f !default;
$purpleDark4Color: #29257f !default;
$purpleDark5Color: #1f1b5f !default;
$purpleLight1Color: #8d89dd !default;
$purpleLight2Color: #a4a0e4 !default;
$purpleLight3Color: #bab8eb !default;
$purpleLight4Color: #d1d0f1 !default;
$purpleLight5Color: #e8e7f8 !default;
$redDark1Color: #f62804 !default;
$redDark2Color: #d32204 !default;
$redDark3Color: #b01d03 !default;
$redDark4Color: #8c1703 !default;
$redDark5Color: #691102 !default;
$redLight1Color: #fc6248 !default;
$redLight2Color: #fc826c !default;
$redLight3Color: #fda191 !default;
$redLight4Color: #fec0b6 !default;
$redLight5Color: #fee0da !default;
$darkBlueDark1Color: #093f72 !default;
$darkBlueDark2Color: #083662 !default;
$darkBlueDark3Color: #062d51 !default;
$darkBlueDark4Color: #052441 !default;
$darkBlueDark5Color: #041b31 !default;
$darkBlueLight1Color: #0e68bb !default;
$darkBlueLight2Color: #1a87ed !default;
$darkBlueLight3Color: #53a5f2 !default;
$darkBlueLight4Color: #8cc3f6 !default;
$darkBlueLight5Color: #c6e1fb !default;
$darkGoldDark1Color: #d8ab0d !default;
$darkGoldDark2Color: #b9920b !default;
$darkGoldDark3Color: #9a7a09 !default;
$darkGoldDark4Color: #7b6107 !default;
$darkGoldDark5Color: #5c4906 !default;
$darkGoldLight1Color: #f3cb3b !default;
$darkGoldLight2Color: #f6d562 !default;
$darkGoldLight3Color: #f8e08a !default;
$darkGoldLight4Color: #faeab1 !default;
$darkGoldLight5Color: #fdf5d8 !default;
$darkGreenDark1Color: #1aa76e !default;
$darkGreenDark2Color: #178f5f !default;
$darkGreenDark3Color: #13774f !default;
$darkGreenDark4Color: #0f603f !default;
$darkGreenDark5Color: #0b482f !default;
$darkGreenLight1Color: #2fde97 !default;
$darkGreenLight2Color: #58e5ac !default;
$darkGreenLight3Color: #82ebc1 !default;
$darkGreenLight4Color: #acf2d6 !default;
$darkGreenLight5Color: #d5f8ea !default;
$darkRedDark1Color: #bd250a !default;
$darkRedDark2Color: #a21f09 !default;
$darkRedDark3Color: #871a08 !default;
$darkRedDark4Color: #6c1506 !default;
$darkRedDark5Color: #511004 !default;
$darkRedLight1Color: #f33f20 !default;
$darkRedLight2Color: #f5664d !default;
$darkRedLight3Color: #f88c79 !default;
$darkRedLight4Color: #fab2a6 !default;
$darkRedLight5Color: #fdd9d2 !default;
$magentaDark1Color: #cc1e49 !default;
$magentaDark2Color: #af1a3f !default;
$magentaDark3Color: #921534 !default;
$magentaDark4Color: #74112a !default;
$magentaDark5Color: #570d1f !default;
$magentaLight1Color: #e54e74 !default;
$magentaLight2Color: #ea7290 !default;
$magentaLight3Color: #f095ab !default;
$magentaLight4Color: #f5b8c7 !default;
$magentaLight5Color: #fadce3 !default;

//[-------PRIME SLOTS-------]//
/* These are the main color assignments for this theme. All component color assignments within this theme are based on this subset of the overall palette. Editing these will have far-reaching effects. */
//[---------------------]//
$primaryColor: $blueColor !default;
$secondaryColor: $darkBlueColor !default;
$tertiaryColor: $greenColor !default;
$quaternaryColor: $magentaColor !default;
$successColor: $greenColor !default;
$infoColor: $purpleColor !default;
$warningColor: $goldColor !default;
$dangerColor: $redColor !default;
$primaryDark1Color: $blueDark1Color !default;
$primaryDark2Color: $blueDark2Color !default;
$primaryDark3Color: $blueDark3Color !default;
$primaryDark4Color: $blueDark4Color !default;
$primaryDark5Color: $blueDark5Color !default;
$primaryLight1Color: $blueLight1Color !default;
$primaryLight2Color: $blueLight2Color !default;
$primaryLight3Color: $blueLight3Color !default;
$primaryLight4Color: $blueLight4Color !default;
$primaryLight5Color: $blueLight5Color !default;
$secondaryDark1Color: $darkBlueDark1Color !default;
$secondaryDark2Color: $darkBlueDark2Color !default;
$secondaryDark3Color: $darkBlueDark3Color !default;
$secondaryDark4Color: $darkBlueDark4Color !default;
$secondaryDark5Color: $darkBlueDark5Color !default;
$secondaryLight1Color: $darkBlueLight1Color !default;
$secondaryLight2Color: $darkBlueLight2Color !default;
$secondaryLight3Color: $darkBlueLight3Color !default;
$secondaryLight4Color: $darkBlueLight4Color !default;
$secondaryLight5Color: $darkBlueLight5Color !default;
$tertiaryDark1Color: $greenDark1Color !default;
$tertiaryDark2Color: $greenDark2Color !default;
$tertiaryDark3Color: $greenDark3Color !default;
$tertiaryDark4Color: $greenDark4Color !default;
$tertiaryDark5Color: $greenDark5Color !default;
$tertiaryLight1Color: $greenLight1Color !default;
$tertiaryLight2Color: $greenLight2Color !default;
$tertiaryLight3Color: $greenLight3Color !default;
$tertiaryLight4Color: $greenLight4Color !default;
$tertiaryLight5Color: $greenLight5Color !default;
$quaternaryDark1Color: $magentaDark1Color !default;
$quaternaryDark2Color: $magentaDark2Color !default;
$quaternaryDark3Color: $magentaDark3Color !default;
$quaternaryDark4Color: $magentaDark4Color !default;
$quaternaryDark5Color: $magentaDark5Color !default;
$quaternaryLight1Color: $magentaLight1Color !default;
$quaternaryLight2Color: $magentaLight2Color !default;
$quaternaryLight3Color: $magentaLight3Color !default;
$quaternaryLight4Color: $magentaLight4Color !default;
$quaternaryLight5Color: $magentaLight5Color !default;
$successDark1Color: $greenDark1Color !default;
$successDark2Color: $greenDark2Color !default;
$successDark3Color: $greenDark3Color !default;
$successDark4Color: $greenDark4Color !default;
$successDark5Color: $greenDark5Color !default;
$successLight1Color: $greenLight1Color !default;
$successLight2Color: $greenLight2Color !default;
$successLight3Color: $greenLight3Color !default;
$successLight4Color: $greenLight4Color !default;
$successLight5Color: $greenLight5Color !default;
$infoDark1Color: $purpleDark1Color !default;
$infoDark2Color: $purpleDark2Color !default;
$infoDark3Color: $purpleDark3Color !default;
$infoDark4Color: $purpleDark4Color !default;
$infoDark5Color: $purpleDark5Color !default;
$infoLight1Color: $purpleLight1Color !default;
$infoLight2Color: $purpleLight2Color !default;
$infoLight3Color: $purpleLight3Color !default;
$infoLight4Color: $purpleLight4Color !default;
$infoLight5Color: $purpleLight5Color !default;
$warningDark1Color: $goldDark1Color !default;
$warningDark2Color: $goldDark2Color !default;
$warningDark3Color: $goldDark3Color !default;
$warningDark4Color: $goldDark4Color !default;
$warningDark5Color: $goldDark5Color !default;
$warningLight1Color: $goldLight1Color !default;
$warningLight2Color: $goldLight2Color !default;
$warningLight3Color: $goldLight3Color !default;
$warningLight4Color: $goldLight4Color !default;
$warningLight5Color: $goldLight5Color !default;
$dangerDark1Color: $redDark1Color !default;
$dangerDark2Color: $redDark2Color !default;
$dangerDark3Color: $redDark3Color !default;
$dangerDark4Color: $redDark4Color !default;
$dangerDark5Color: $redDark5Color !default;
$dangerLight1Color: $redLight1Color !default;
$dangerLight2Color: $redLight2Color !default;
$dangerLight3Color: $redLight3Color !default;
$dangerLight4Color: $redLight4Color !default;
$dangerLight5Color: $redLight5Color !default;

//[-------COMPONENT SLOTS-------]//
/* These color assignments affect specific components and allow for fine grain control over the look of your theme. Edit these to change colors of individual components within the design system. */
//[---------------------]//
$cardCapBackgroundColor: $blueDark5Color !default;
$cardCapUnderlineColor: $secondaryColor !default;
$ribbonPrimaryColor: $blueDark5Color !default;
$searchShownBackgroundDefaultColor: $blueDark3Color !default;
$searchShownBackgroundHoverColor: $blueColor !default;
$spaHeaderBackgroundColor: $blueDark5Color !default;
$spaHeaderUnderlineColor: $secondaryColor !default;
$balloonPrimaryBackgroundColor: $primaryColor !default;
$balloonSecondaryBackgroundColor: $secondaryColor !default;
$balloonTertiaryBackgroundColor: $tertiaryColor !default;
$balloonPrimaryBorderColor: $blueDark3Color !default;
$balloonSecondaryBorderColor: $secondaryDark3Color !default;
$balloonTertiaryBorderColor: $tertiaryDark3Color !default;
$bubbleMenuHoverColor: $darkBlueLight1Color !default;
$treeLinkPrimaryActiveColor: $blueColor !default;
$treeLinkSecondaryActiveColor: $secondaryColor !default;
$treeLinkTertiaryActiveColor: $tertiaryColor !default;
$treeLinkQuaternaryActiveColor: $quaternaryColor !default;
$treeLinkPrimaryHoverColor: $blueLight3Color !default;
$treeLinkSecondaryHoverColor: $secondaryLight3Color !default;
$treeLinkTertiaryHoverColor: $tertiaryLight3Color !default;
$treeLinkQuaternaryHoverColor: $quaternaryLight3Color !default;
$treeLinkPrimaryIconColor: $blueColor !default;
$treeLinkSecondaryIconColor: $secondaryColor !default;
$treeLinkTertiaryIconColor: $tertiaryColor !default;
$treeLinkQuaternaryIconColor: $quaternaryColor !default;
$treeLinkPrimaryIconActiveColor: $blueColor !default;
$treeLinkSecondaryIconActiveColor: $secondaryColor !default;
$treeLinkTertiaryIconActiveColor: $tertiaryColor !default;
$treeLinkQuaternaryIconActiveColor: $quaternaryColor !default;
$buttonDropdownMenuPrimaryBackgroundColor: $darkBlueColor !default;
$buttonDropdownMenuSecondaryBackgroundColor: $secondaryColor !default;
$buttonDropdownMenuTertiaryBackgroundColor: $tertiaryColor !default;
$buttonDropdownMenuPrimaryDarkBackgroundColor: $grayDark4Color !default;
$buttonDropdownMenuSecondaryDarkBackgroundColor: $grayDark4Color !default;
$buttonDropdownMenuTertiaryDarkBackgroundColor: $grayDark4Color !default;
$checklistItemCompletedColor: $dangerColor !default;
$checklistItemActiveColor: $tertiaryColor !default;
$tabPrimaryBackgroundDefaultColor: #fff !default;
$tabPrimaryBackgroundActiveColor: $primaryColor !default;
$tabPrimaryBackgroundHoverColor: $blueDark3Color !default;
$tabPrimaryBorderDefaultColor: $grayLight2Color !default;
$tabPrimaryBorderActiveColor: $blueDark1Color !default;
$tabPrimaryBorderHoverColor: $blueDark1Color !default;
$tabPrimaryTextDefaultColor: $primaryColor !default;
$tabPrimaryTextActiveColor: #fff !default;
$tabPrimaryTextHoverColor: #fff !default;
$tabPrimaryUnderlineDefaultColor: $grayLight2Color !default;
$tabPrimaryUnderlineActiveColor: $grayLight2Color !default;
$tabPrimaryUnderlineHoverColor: $grayLight2Color !default;
$tabSecondaryBackgroundDefaultColor: #fff !default;
$tabSecondaryBackgroundActiveColor: $secondaryColor !default;
$tabSecondaryBackgroundHoverColor: $secondaryLight4Color !default;
$tabSecondaryBorderDefaultColor: $secondaryColor !default;
$tabSecondaryBorderActiveColor: $secondaryDark3Color !default;
$tabSecondaryBorderHoverColor: $secondaryDark1Color !default;
$tabSecondaryTextDefaultColor: $secondaryColor !default;
$tabSecondaryTextActiveColor: #fff !default;
$tabSecondaryTextHoverColor: #fff !default;
$tabSecondaryUnderlineDefaultColor: $secondaryDark3Color !default;
$tabSecondaryUnderlineActiveColor: $secondaryColor !default;
$tabSecondaryUnderlineHoverColor: $secondaryColor !default;
$dividerTextColor: $grayLight4Color !default;
$dividerArrowColor: $grayLight4Color !default;
$dividerLineColor: $grayLight4Color !default;
$paginationLinkColor: $blueLight1Color !default;
$timelineProgressCompletedColor: $darkBlueColor !default;
$timelineBackgroundInactiveColor: $grayLight4Color !default;
$timelineTextInactiveColor: $grayLight4Color !default;
$timelineBackgroundCompletedColor: $darkBlueColor !default;
$timelineBorderCompletedColor: $darkBlueColor !default;
$timelineTextCompletedColor: $blueDark3Color !default;
$timelineBackgroundActiveColor: $darkBlueColor !default;
$timelineBorderActiveColor: $darkBlueColor !default;
$timelineTextActiveColor: $darkBlueColor !default;
$modalHeaderPrimaryBackgroundColor: $blueDark5Color !default;
$modalHeaderPrimaryUnderlineColor: $secondaryColor !default;
$modalHeaderSecondaryBackgroundColor: $secondaryColor !default;
$modalHeaderSecondaryUnderlineColor: $blueDark5Color !default;
$modalHeaderTertiaryBackgroundColor: #fff !default;
$modalHeaderTertiaryUnderlineColor: $secondaryColor !default;
$modalHeaderQuaternaryBackgroundColor: $grayDark3Color !default;
$modalHeaderQuaternaryUnderlineColor: $secondaryColor !default;
$modalFooterPrimaryUnderlineColor: $grayLight2Color !default;
$modalFooterSecondaryUnderlineColor: $grayLight2Color !default;
$modalFooterTertiaryUnderlineColor: $grayLight2Color !default;
$modalFooterQuaternaryUnderlineColor: $grayLight2Color !default;
$slabNavBaseColor: $blueDark5Color !default;
$slabNavPrimaryBackgroundColor: $primaryColor !default;
$slabNavSecondaryBackgroundColor: $secondaryDark4Color !default;
$slabNavTertiaryBackgroundColor: $tertiaryDark4Color !default;
$slabNavQuaternaryBackgroundColor: $quaternaryDark4Color !default;
$slabNavPrimaryBackgroundHoverColor: $blueDark3Color !default;
$slabNavSecondaryBackgroundHoverColor: $secondaryDark3Color !default;
$slabNavTertiaryBackgroundHoverColor: $tertiaryDark3Color !default;
$slabNavQuaternaryBackgroundHoverColor: $quaternaryDark3Color !default;
$slabNavPrimaryBackgroundActiveColor: $blueColor !default;
$slabNavSecondaryBackgroundActiveColor: $secondaryColor !default;
$slabNavTertiaryBackgroundActiveColor: $tertiaryColor !default;
$slabNavQuaternaryBackgroundActiveColor: $quaternaryColor !default;
$slabNavPrimaryUnderlineColor: $blueColor !default;
$slabNavSecondaryUnderlineColor: $secondaryLight5Color !default;
$slabNavTertiaryUnderlineColor: $tertiaryDark4Color !default;
$slabNavQuaternaryUnderlineColor: $quaternaryColor !default;
$tableHeaderPrimaryBackgroundDefaultColor: $grayLight1Color !default;
$tableHeaderPrimaryUnderlineDefaultColor: $grayLight2Color !default;
$tableHeaderPrimaryBackgroundHoverColor: $grayLight3Color !default;
$tableHeaderPrimaryUnderlineHoverColor: $grayLight2Color !default;
$tableHeaderPrimaryBackgroundSelectedColor: $grayLight3Color !default;
$tableHeaderPrimaryUnderlineSelectedColor: $grayLight3Color !default;
$tableHeaderSecondaryBackgroundDefaultColor: $secondaryColor !default;
$tableHeaderSecondaryUnderlineDefaultColor: $secondaryDark3Color !default;
$tableHeaderSecondaryBackgroundHoverColor: $secondaryLight2Color !default;
$tableHeaderSecondaryUnderlineHoverColor: $secondaryDark3Color !default;
$tableHeaderSecondaryBackgroundSelectedColor: $secondaryLight2Color !default;
$tableHeaderSecondaryUnderlineSelectedColor: $secondaryDark3Color !default;
$tableRowPrimaryColor: $blueColor !default;
$tableRowSecondaryColor: $secondaryColor !default;
$chooserPrimaryBackgroundColor: $blueDark5Color !default;
$chooserPrimaryAccentColor: $blueDark3Color !default;
$chooserSecondaryBackgroundColor: $secondaryColor !default;
$chooserSecondaryAccentColor: $secondaryDark3Color !default;
$chooserTertiaryBackgroundColor: $tertiaryColor !default;
$chooserTertiaryAccentColor: $tertiaryDark3Color !default;
$chooserQuaternaryBackgroundColor: $quaternaryColor !default;
$chooserQuaternaryAccentColor: $quaternaryDark3Color !default;
$radioBlockPrimaryColor: $blueDark5Color !default;
$radioBlockSecondaryColor: $secondaryColor !default;
$radioBlockTertiaryColor: $tertiaryColor !default;
$radioBlockQuaternaryColor: $quaternaryColor !default;
$toolbeltItemColor: $blueColor !default;
$pageHeaderPrimaryBackgroundColor: $blueDark5Color !default;
$pageHeaderUnderlineColor: $secondaryColor !default;
$pageHeaderSecondaryBackgroundColor: $primaryColor !default;
$persistNavDefaultIconColor: $blueDark5Color !default;
$persistNavDefaultTextColor: $grayDark4Color !default;
$persistNavActiveIconColor: $blueDark5Color !default;
$persistNavActiveTextColor: $blueDark5Color !default;
$persistNavActiveInsetColor: $secondaryColor !default;
