.gds-badge {
    display: inline-block;
    font-size: 60%;
    margin: 0 ($unit / 4);
    background: $primaryColor;
    color: white;
    padding: 1px ($unit / 4) 0;
    border-radius: $border-radius;
    vertical-align: text-top;
    font-family: $pri-font-regular;
    letter-spacing: 0.5px;
    pointer-events: none;
    text-shadow: none !important;
    box-shadow: none !important;
    @include no-select();
}

.gds-badge--inverse {
    color: $primaryColor;
}

.gds-badge--dark {
    background: $gg-dark-4 !important;
}

.gds-badge--success {
    background: $successColor;
}

.gds-badge--success-inverse {
    color: $successColor;
}

.gds-badge--info {
    background: $infoColor;
}

.gds-badge--info-inverse {
    color: $infoColor;
}

.gds-badge--warning {
    background: $warningColor;
}

.gds-badge--warning-inverse {
    color: $warningColor;
}

.gds-badge--danger {
    background: $dangerColor;
}

.gds-badge--danger-inverse {
    color: $dangerColor;
}

.gds-badge--inverse,
.gds-badge--success-inverse,
.gds-badge--info-inverse,
.gds-badge--warning-inverse,
.gds-badge--danger-inverse {
    background: white;
}

.gds-badge--empty {
    width: ($unit / 2);
    height: ($unit / 2);
    border-radius: ($unit / 4);
    vertical-align: super;
}
