.gds-circular-button {
  @extend .gds-button;
  padding: 0;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  filter: grayscale(0%); // might be able to remove
  opacity: 1; // might be able to remove
  > .fa {
    vertical-align: middle;
  }
}

// Button Variables
// // Inactive circular buttons
.gds-circular-button--inactive {
  filter: grayscale(80%);
  opacity: 0.5;

  &:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
}

// Button Sizes
// Large circular buttons
.gds-circular-button--lg {
  font-size: $c-btn-font-size-large;
  width: 72px;
  height: 72px;
}

// Small circular buttons
.gds-circular-button--sm {
  font-size: $c-btn-font-size-small;
  width: 40px;
  height: 40px;
}

// X-small circular buttons
.gds-circular-button--xs {
  font-size: $c-btn-font-size-xsmall;
  width: 32px;
  height: 32px;
}

// Image inside circular button
.gds-circular-button__image {
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 2px;
  border-radius: 50%;
}

// Tooltip Modifier
.gds-circular-button--tooltip {
  @extend .gds-tooltip--top;
}

// Disabled buttons
.gds-circular-button[disabled="disabled"],
.gds-circular-button[disabled],
.gds-circular-button--disabled {
  @extend .-disabled;
}
