.gds-number-circle {
    border: 1px solid $numberCircleBorderColor;
    color: $numberCircleTextColor;
    border-radius: 50%;
    padding: ($unit / 4) 0;
    margin-right: $unit;
    font-size: $font-size-minus-1;
    float: left;
    width: ($unit * 2.25);
    height: ($unit * 2.25);
    text-align: center;
}

.gds-number-circle--xs,
.gds-number-circle--sm,
.gds-number-circle--lg,
.gds-number-circle--xl {
    padding: 0;
}

.gds-number-circle--xs {
    width: ($unit * 1.25);
    height: ($unit * 1.25);
    line-height: ($unit * 1.2);
    font-size: $font-size-minus-3;
}

.gds-number-circle--sm {
    width: ($unit * 1.75);
    height: ($unit * 1.75);
    line-height: ($unit * 1.65);
    font-size: $font-size-minus-2;
}

.gds-number-circle--lg {
    width: ($unit * 3);
    height: ($unit * 3);
    line-height: ($unit * 2.9);
    font-size: $font-size-plus-1;
}

.gds-number-circle--xl {
    width: ($unit * 4);
    height: ($unit * 4);
    line-height: ($unit * 3.8);
    font-size: $font-size-plus-3;
}

.gds-number-circle--secondary {
    @extend .-color-tx-sec;
    @extend .-color-bd-sec;
}

.gds-number-circle--success {
    @extend .-color-tx-suc;
    @extend .-color-bd-suc;
}

.gds-number-circle--warning {
    @extend .-color-tx-war;
    @extend .-color-bd-war;
}

.gds-number-circle--info {
    @extend .-color-tx-inf;
    @extend .-color-bd-inf;
}

.gds-number-circle--danger {
    @extend .-color-tx-dan;
    @extend .-color-bd-dan;
}

.gds-number-circle--white {
    @extend .-color-tx-white;
    @extend .-color-bd-white;
}

.gds-number-circle--dark {
    @extend .-color-tx-lt-4;
    @extend .-color-bd-lt-4;
}
